@font-face {
  font-family: 'Axiforma Black';
  src: url('Axiforma-Black.eot');
  src: url('Axiforma-Black.eot?#iefix') format('embedded-opentype'),
  url('Axiforma-Black.woff') format('woff'),
  url('Axiforma-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  @font-face {
    font-family: 'Axiforma Regular';
    src: url('Axiforma-Regular.eot');
    src: url('Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-Regular.woff') format('woff'),
    url('Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
      font-family: 'Axiforma Thin';
      src: url('Axiforma-Thin.eot');
      src: url('Axiforma-Thin.eot?#iefix') format('embedded-opentype'),
      url('Axiforma-Thin.woff') format('woff'),
      url('Axiforma-Thin.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      }
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select { 
  
}